Repository LiroBenchmark/LiroBenchmark.github.io, pull requests merged in 2021-06, with the labels that each got.

#3 Renamed NLP area to NLP Benchmark
  src/data/LEADERBOARD.xlsx
Labels: leaderboard update

#5 Updated source for Romanian Word Embeddings dataset
  src/data/LEADERBOARD.xlsx
Labels: leaderboard update

#9 Order datasets alphabetically before displaying in datasets page
  src/Components/Datasets.js
Labels: enhancement

#10 Update README.md on main site
  README.md
Labels: documentation
